header#header
  .container
    .row
      .col-lg-6
        img.img-fluid(src="assets/img/hero-poster.png" alt="House MD TV Season 10")
      .col-lg-6
        .content
          h1 House MD
          h6 Season : 09
          h3 Release Date : 
            |
            span 15 July, 2018
          p A doctor facing challenging medical cases in Hospital. A drug addict doctor having half muscle cut out on his thigh facing many problems in the hospital. he his working with three great doctors in his team to solve the impossible cases.
          
          button.btn.ghost-primary-btn(type="button" data-toggle="modal" data-target="#trailer")
            |
            span
              | 
              include icons/play-icon.html
            | Trailer  
            
//- Make date a variable,
//- Make image links variable
