meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1.0')
meta(http-equiv='X-UA-Compatible', content='ie=edge')

//- Fonts
link(href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Hammersmith+One|Josefin+Sans:400,400i" rel="stylesheet")
  
//- Custom Styles
link(rel='stylesheet', href='assets/css/styles.css')
title House MD | Season 09
