//- Variables
include helpers/variables.pug

//- navbar
nav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    a.navbar-brand(href='#header')
      include icons/logo.html
    button.navbar-toggler(aria-expanded='false', aria-controls='navbarSupportedContent', aria-label='Toggle navigation', type='button', data-target='#navbarSupportedContent', data-toggle='collapse')
      span#toggle
        span.span#one
        span.span#two
        span.span#three
    #navbarSupportedContent.collapse.navbar-collapse
      //- Nav links
      ul.navbar-nav.ml-auto
        each val, index in navLink
          li.nav-item
            if val == 'Trailer'
              a.nav-link.--js-nav-link(class="--js-scroll-to-" + navIDs[index], href="" data-toggle="modal" data-target="#trailer")= val
            else if index == 0
              a.nav-link.active.--js-nav-link(class="--js-scroll-to-" + navIDs[index], href="#" + navIDs[index])= val
            else 
                
              a.nav-link.--js-nav-link(class="--js-scroll-to-" + navIDs[index], href="#" + navIDs[index])= val
