include helpers/variables.pug

nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container
    a.navbar-brand(href='#')
      include icons/logo.html
    button.navbar-toggler(aria-expanded='false', aria-controls='navbarSupportedContent', aria-label='Toggle navigation', type='button', data-target='#navbarSupportedContent', data-toggle='collapse')
      #toggle
        .span#one
        .span#two
        .span#three
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link(href='#')
            | Home 
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') Link
        li.nav-item
          a.nav-link.disabled(href='#') Disabled
#resize
    ul#menu
        each val, index in navLink
            li.nav-item
                a.nav-links(href="#" + navIDs[index])= val
