.newsletter-section
  .overlay
    .container
      .row
        .col-lg-6
          div
            h2 Subscribe For Latest Update
            h6 Newsletter
        .col-lg-6
          div
            p Subscribe to our newsletter and get all free future updates.
            form
              input(type="email" required placeholder="E mail")
              input(type="submit" value="Subscribe")
