#options-per-view.slider.glide.glide--ltr.glide--slider.glide--swipeable
  .slider__track.glide__track(data-glide-el='track')
    ul.slider__slides.glide__slides
      li.slider__frame.glide__slide.glide__slide--active 
        img(src="assets/img/character-1.jpg" alt="George House")
        .text
          h5 Greg House
          p.real-name (Hugh Laurie)
          p.profession Head Of Special <br> Case Department
          a(href="#") Learn More>>
        
      li.slider__frame.glide__slide 
        img(src="assets/img/character-2.jpg" alt="Lisa Cuddy")
        .text
          h5 Lisa Cuddy
          p.real-name (Lisa Edelstein)
          p.profession Head Of Hospital
          a(href="#") Learn More>>
      li.slider__frame.glide__slide 
        img(src="assets/img/character-3.jpg" alt="Alison Cameron")
        .text
          h5 Alison Cameron
          p.real-name (Jennifer Morrison)
          p.profession Physician & Immunologist
          a(href="#") Learn More>>
      li.slider__frame.glide__slide 
        img(src="assets/img/character-4.jpg" alt="Robert Chase")
        .text
          h5 Robert Chase
          p.real-name (Jesse Spencer)
          p.profession Physician & Surgeon
          a(href="#") Learn More>>
      li.slider__frame.glide__slide 
        img(src="assets/img/character-5.jpg" alt="Eric Foreman")
        .text
          h5 Eric Foreman
          p.real-name (Omar Epps)
          p.profession A Neurologist
          a(href="#") Learn More>>
      li.slider__frame.glide__slide 
        img(src="assets/img/character-6.jpg" alt="James Wilson")
        .text
          h5 Jamed Wilson
          p.real-name (Sean Leonard)
          p.profession Head of the <br>Department of Oncology
          a(href="#") Learn More>>
  div(data-glide-el='controls')
    a.slider__arrow.slider__arrow--prev.glide__arrow.glide__arrow--prev(data-glide-dir='<' href="#")
      include ../icons/prev-arrow.html
    a.slider__arrow.slider__arrow--next.glide__arrow.glide__arrow--next(data-glide-dir='>' href="#")
      include ../icons/next-arrow.html
  .slider__bullets.glide__bullets(data-glide-el='controls[nav]')
    a.slider__bullet.glide__bullet.glide__bullet--active(href="#" data-glide-dir='=0')
      span.bullet
    a.slider__bullet.glide__bullet(href="#" data-glide-dir='=1')
      span.bullet
    a.slider__bullet.glide__bullet(href="#" data-glide-dir='=2')
      span.bullet
    a.slider__bullet.glide__bullet(href="#" data-glide-dir='=3')
      span.bullet
