-
  var seasonText = [
      "The first season of House premiered November 16, 2004 and ended May 24, 2005. The season followed Dr. House and his team as they solve a medical case each episode. The season's sub-plot revolved around billionaire Edward Vogler making a $100 million donation to the hospital. Through this donation, Vogler became the new chairman of the board of the hospital. Seeing House and his team as a waste of time and resources, he decreases their salaries, eventually forcing House to fire one of his team members.",
      
      "The second season of House premiered on September 13, 2005 and ended on May 23, 2006. During the season, House tries to cope with his feelings for his ex-girlfriend Stacy Warner, who, after House diagnosed her husband with acute intermittent porphyria, has taken a job in the legal department of Princeton-Plainsboro Teaching Hospital. Sela Ward's chemistry with Laurie in the final two episodes of season one was strong enough to have her character return in seven episodes of the second season.",
      
      "House's third season ran from September 5, 2006 to May 29, 2007. Early in the season, House temporarily regains the use of his leg due to ketamine treatment after he was shot in the season two finale. Later in the season, he leaves a stubborn patient in an exam room with a thermometer in his rectum. Because House is unwilling to apologize, the patient, police detective Michael Tritter, starts an investigation around House's Vicodin addiction. David Morse joined the cast for seven episodes as Tritter. He was cast for the role after having previously worked with House's creator David Shore on CBS' Hack.",
      
      "The fourth season of House premiered on September 25, 2007 and ended May 19, 2008. Having previously fired Chase, and with Foreman and Cameron quitting, House starts a competition between forty applicants for the vacant positions. He eventually narrows them down to seven, firing one each episode. In the episode \"Games\", he fires Amber \"Cutthroat Bitch\" Volakis (Anne Dudek), hiring Dr. Chris Taub (Peter Jacobson), Dr. Lawrence Kutner (Kal Penn) and Dr. Remy \"Thirteen\" Hadley (Olivia Wilde) as his new team. Dr. Foreman rejoins the team after his dismissal from another hospital. Meanwhile, Amber begins a relationship with Wilson.",
      
      "The fifth season of House premiered on September 16, 2008 and ended on May 11, 2009. The main storylines for this season include the aftermath of Amber's death and how it affects Wilson's relationship with House, Cuddy's search to be a mother, Thirteen discovering that her symptons related to Huntington are getting worse and her new relationship with Foreman, Kutner's shocking and sudden suicide, Cameron's and Chase's relationship going to the next step, Taub's relationship with his wife and House hallucinating with Amber (and later Kutner) due to Vicodin abuse which leads him to make a very important decision.",
      
      "The sixth season of House premiered on September 21, 2009 with a special two-hour episode and ended on May 17, 2010. The main storylines for this season include House's treatment at Mayfield Psychiatric Hospital after being admitted following House's hallucinations due to Vicodin abuse, Wilson's new relationship with Sam, one of his ex-wives, Lucas' and Cuddy's relationship and how it affects House, who seems to develop feelings for her, Foreman's and Thirteen's break-up, the return of the original group (Cameron, Chase and Foreman) and Cameron's departure from the series after Chase killed a genocide president.",
      
      "The seventh season of House premiered on September 20, 2010 and ended on May 23, 2011. This season marks the final appearance of Lisa Cuddy in the series, as Lisa Edelstein announced that she wouldn't come back for the next season. The main storylines for this season include House's relationship with Cuddy - which has a terrible end for both of them, Wilson's break up with Sam, the sudden departure of Thirteen and her replacement with Masters and Taub cheating on his ex-wife and subsequent news of a double pregnancy (from both Rachel Taub and a nurse).",
      
      "The eighth and final season of House premiered on October 3, 2011 and ended on May 21, 2012. This season starts with House in jail after the events of \"Moving On\". It is also the only season not to feature at all Lisa Cuddy. Other important events that happened in this season were Thirteen's departure from the team, the addition of two new fellows, Wilson's disease among others. Returning characters for this season include House's wife, Dominika Petrova, his favourite prostitute, Emily, and almost all the main/guest characters that left the show."
      
  ];
  
  var carouselText = [
    {
      name: "Greg House",
      realName: "(Hugh Laurie)",
      profession: 'Head Of Special Case Department'
    },
    {
      name: "Lisa Cuddy",
      realName: "(Lisa Edelstein)",
      profession: "Head Of Hospital"
    },
    {
      name: "Alison Cameron",
      realName: "(Jennifer Morrison)",
      profession: "Physician & Immunologist"
    },
    {
      name: "Robert Chase",
      realName: "(Jesse Spencer)",
      profession: "Physician & Surgeon"
    },
    {
      name: "Eric Foreman",
      realName: "(Omar Epps)",
      profession: "A Neurologist"
    },
    {
      name: "James Wilson",
      realName: "(Sean Leonard)",
      profession: "Head Of The Department of Oncology"
    }    
  ]
