//- Importing variables
include variables.pug
include objectVariables.pug

//- Nav pills
ul#season-tabs.nav.nav-pills.justify-content-between(role='tablist')
  each val in seasonTabs
    li.nav-item
      if val == 1
        a.nav-link.active(id='season-'+ val + '-tab', role='tab', aria-selected='true', aria-controls='season-'+ val, href='#season-'+ val, data-toggle='tab')= '0' + val
      else
        
        a.nav-link(id='season-'+ val + '-tab', role='tab', aria-selected='true', aria-controls='season-'+ val, href='#season-'+ val, data-toggle='tab')= '0' + val

//- Content
#myTabContent.tab-content
  each val, index in seasonTabs
    if val == 1
      .tab-pane.fade.show.active(id='season-'+ val, role='tabpanel', aria-labelledby='season-' + val + '-tab') 
        .row
          .col-lg-6
            img(src="assets/img/season-" + val +".jpg" alt="Season " + val)
          .col-lg-6
            .text
              p.season-text= seasonText[index]
    else
      
      .tab-pane.fade(id='season-'+ val, role='tabpanel', aria-labelledby='season-' + val + '-tab') 
        .row
          .col-lg-6
            img(src="assets/img/season-" + val +".jpg" alt="Season " + val)
          .col-lg-6
            .text
              p.season-text= seasonText[index]
