// Modal
#trailer.modal.fade
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5#exampleModalLabel.modal-title Trailer
        button.close#--js-modal-close(aria-label='Close', type='button', data-dismiss='modal')
          span(aria-hidden='true') 
            |
            include ../icons/cross.html
      .modal-body
        iframe(width="560" height="315" src="https://www.youtube.com/embed/isROOsii0f8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
