nav.navbar
  height: $navbar-height
  max-height: $navbar-height
  box-shadow: $basic-box-shadow
  background-color: $white-color

  .navbar-brand
    display: block!important
    min-height: $navbar-brand-height
    min-width: $navbar-brand-height
    svg
      height: $navbar-brand-height
      width: auto

  .nav-link
    font-family: $sub-heading-font
    text-transform: uppercase
    color: $font-color!important
    transition: all 0.15s ease
    margin-right: 1.25rem!important
    padding: 1.875rem 1.25rem!important
    text-decoration: none
    &:last-of-type
      margin-right: 0
    &:hover
      opacity: 0.8

  .active
    background-color: $primary-color
    color: $white-color!important
    transform: scaleY(0.9)

#resize
  display: none
