// -------------------- //
// ------COLORS-------- //
// -------------------- //

$white-color: #FFFFFF
$black-color: #000000
$primary-color: #FDC715
$secondary-color: #181E37
$bg-color: #F7F7F7
$font-color: #515155
$footer-color: #243238

// -------------------- //
// ------FONTS--------- //
// -------------------- //

$heading-font: "Oswald", sans-serif
$sub-heading-font: "Hammersmith One", sans-serif
$paragraph-font: "Josefin Sans", sans-serif

// -------------------- //
// ------IMAGES-------- //
// -------------------- //



// -------------------- //
// -MEDIA  BREAKPOINTS- //
// -------------------- //
